header{
  background-color: lightblue;
}

body{
  background-color: lightgrey;
}

p{
   font-style: italic;
   font-weight: bold;
 }
ul{
  font-style: italic;
  font-weight: bold;
  color: red;
}

ol{
  font-style: italic;
  font-weight: bold;
  color:


}
